<!--   -*- coding: utf-8 -*- -->
{% extends 'painel.html' %}

{% block breadcrumb %} 
{{ block.super }}

<li><a href="{% url 'eventos:avisos' evento.slug %}">{{ evento }}</a></li>
{% endblock %}

{% block menu_opcoes %}
<li><a href="#">
<span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> 
{{ evento }} 
</a></li>
<li><a href="{% url 'eventos:avisos' evento.slug %}">
<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> 
Avisos
</a></li>
<li><a href="{% url 'eventos:palestras' evento.slug %}">
<span class="glyphicon glyphicon-book" aria-hidden="true"></span> 
Palestras e Materiais
</a></li> 
<li><a href="{% url 'eventos:cracha' evento.slug %}">
<span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span> 
Imprimir Crachá
</a></li> 
<li><a href="{% url 'eventos:certificado' evento.slug %}">
<span class="glyphicon glyphicon-education" aria-hidden="true"></span> 
Imprimir Certificado
</a></li> 
{{ block.super }}
{% endblock %}