<!--   -*- coding: utf-8 -*- -->
{% extends "base.html" %} 
{% load static %} 
{% block content %}
<div class="container">
	<div class="row">
		<div id="conteudo" class="col-md-9">
			{% for evento in eventos %}
			<div class="artigo" role="article">
				<div class="row">
					<div class="col-md-5">
						<a href="{{ evento.get_absolute_url }}"> 
						{% if evento.imagem_evento %} 
						<img src="{{ evento.imagem_evento.thumbnail.url}}" alt="{{ evento.nome_evento }}" > 
						{% else %} 
						<img src="{% static 'img/logo.png' %}" alt="{{ evento.nome_evento }}">
							{% endif %}
						</a>
					</div>
						<div class="col-md-7">
							<a href="{{ evento.get_absolute_url }}"><h4>{{ evento.nome_evento }}</h4></a> 
							{{ evento.descricao|linebreaks }}
						</div>
						
				</div>
			</div>
				<hr>
				{% empty %}
				<h4>Nenhum evento cadastrado.</h4>
				{% endfor %}
		</div>
		</div>
	</div>

{% endblock %}
