<!--   -*- coding: utf-8 -*- -->
{% extends "base.html" %}

{% load static %}

{% block content %}
<form action="" method="post">
	{% csrf_token %}
    <div class="row">
    <p><h2>Lista de Presença</h2></p>

    <h4>Evento: {{ evento }}</h4> 
     <p>Duração: {{ evento.data_inicio }} a {{ evento.data_fim }}</p><br/>
<div class="table-responsive">
  <table class="table">
     {% for inscricao in inscricoes %}
                 <tr>
                 <td>{{ inscricao.user }} :________________________________________________________________</td>
</tr>
{% empty %}
<h4>Nenhum participante inscrito.</h4>
{% endfor %}            
</table>
</div>
</div>
<div class="col-sm-offset-2 col-sm-10">
		<a href="{% url 'eventos:imprimir_lista' evento.slug %} " class="btn btn-default" target="_blank">Gerar PDF</a>
		<a href="{% url 'eventos:detalhes' evento.slug %} " class="btn btn-default">Voltar</a>
	</div>
</form>
        	
{% endblock %}