<!--   -*- coding: utf-8 -*- -->
{% extends 'evento_painel.html' %}
{% block breadcrumb %} 
{{ block.super }}

<li><a href="{% url 'eventos:palestras' evento.slug %}">Palestras</a></li>
<li><a href="{% url 'eventos:palestra' evento.slug palestra.pk %}">{{ palestra }}</a></li>
{% endblock %}

{% block dashboard_content %}
<div class="well">
    <h2><a href="{% url 'eventos:palestra' evento.slug palestra.pk %}">{{ palestra }}</a></h2>
    {{ palestra.descricao|linebreaks }}
    <p>
        <h4>Material da Aula</h4>
        <table class="table table-striped table-hover">
            <thead class="table-striped">
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>
                        Ação
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for material in palestra.materiais.all %}
                <tr class="">
                    <td>
                        {{ material }}
                    </td>
                    <td>
                        {% if material.is_embedded %}
                        <a href="{% url 'eventos:material' evento.slug material.pk %}">
                            Acessar
                        </a>
                        {% else %}
                        <a target="_blank" href="">
                            Baixar
                        </a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </p>
</div>

{% endblock %}